# Imports

In [31]:
import os
os.chdir("/Users/sibsankarsingha/_Documents/Academic/project/Functional_anomaly_detection/Robot_Torque_Anomaly")

In [32]:
import pyarrow.parquet as pq
import pyarrow as pa
from tools.functions import *
from depth.model.multivariate import *

# Data processing

In [33]:
# Chargement des données
filename = "/Users/sibsankarsingha/_Documents/Academic/Data_sets/Dataset_Bursa_Extended/Dataset_Bursa_Extended/file_from_gcp/dataset.parquet"
schema = pq.read_schema(filename)
parquet_file = pq.ParquetFile(filename)
df_max_torque_1 = pd.DataFrame()
df_max_torque_2 = pd.DataFrame()
df_max_torque_3 = pd.DataFrame()
df_max_torque_4 = pd.DataFrame()
df_max_torque_5 = pd.DataFrame()
df_max_torque_6 = pd.DataFrame()
df_max_torque_7 = pd.DataFrame()

i = 0

for batch in parquet_file.iter_batches():
    i += 1
    if i>5000:
        break
    table = pa.Table.from_batches([batch], schema=schema)
    df_temp = table.to_pandas(types_mapper=pd.ArrowDtype)
    df_max_torque_1 = pd.concat([
        df_max_torque_1,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_1_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_2 = pd.concat([
        df_max_torque_2,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_2_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_3 = pd.concat([
        df_max_torque_3,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_3_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_4 = pd.concat([
        df_max_torque_4,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_4_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_5 = pd.concat([
        df_max_torque_5,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_5_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_6 = pd.concat([
        df_max_torque_6,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_6_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)

    df_max_torque_7 = pd.concat([
        df_max_torque_7,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_7_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)

In [34]:
df_max_torque_1.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_1["pub_datavalue"] = df_max_torque_1["pub_datavalue"].astype(float)
df_max_torque_1["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_1["pub_sourcetimestamp"])
df_max_torque_1.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_1 = df_max_torque_1[df_max_torque_1["pub_datavalue"] > 0]

df_max_torque_2.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_2["pub_datavalue"] = df_max_torque_2["pub_datavalue"].astype(float)
df_max_torque_2["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_2["pub_sourcetimestamp"])
df_max_torque_2.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_2 = df_max_torque_2[df_max_torque_2["pub_datavalue"] > 0]

df_max_torque_3.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_3["pub_datavalue"] = df_max_torque_3["pub_datavalue"].astype(float)
df_max_torque_3["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_3["pub_sourcetimestamp"])
df_max_torque_3.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_3 = df_max_torque_3[df_max_torque_3["pub_datavalue"] > 0]

df_max_torque_4.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_4["pub_datavalue"] = df_max_torque_4["pub_datavalue"].astype(float)
df_max_torque_4["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_4["pub_sourcetimestamp"])
df_max_torque_4.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_4 = df_max_torque_4[df_max_torque_4["pub_datavalue"] > 0]

df_max_torque_5.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_5["pub_datavalue"] = df_max_torque_5["pub_datavalue"].astype(float)
df_max_torque_5["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_5["pub_sourcetimestamp"])
df_max_torque_5.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_5 = df_max_torque_5[df_max_torque_5["pub_datavalue"] > 0]

df_max_torque_6.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_6["pub_datavalue"] = df_max_torque_6["pub_datavalue"].astype(float)
df_max_torque_6["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_6["pub_sourcetimestamp"])
df_max_torque_6.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_6 = df_max_torque_6[df_max_torque_6["pub_datavalue"] > 0]

df_max_torque_7.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_7["pub_datavalue"] = df_max_torque_7["pub_datavalue"].astype(float)
df_max_torque_7["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_7["pub_sourcetimestamp"])
df_max_torque_7.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_7 = df_max_torque_7[df_max_torque_7["pub_datavalue"] > 0]

## Interpolate the data

In [35]:
start_time = pd.Timestamp('2021-08-01 00', tz = df_max_torque_3.index.tz)
end_time = pd.Timestamp('2022-12-31 00', tz = df_max_torque_3.index.tz)
step_seconds=10
chunk_len_min=60 
df_max_torque_1_interpolated = interpolate_chunks(df_max_torque_1, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_2_interpolated = interpolate_chunks(df_max_torque_2, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_3_interpolated = interpolate_chunks(df_max_torque_3, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_4_interpolated = interpolate_chunks(df_max_torque_4, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_5_interpolated = interpolate_chunks(df_max_torque_5, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_6_interpolated = interpolate_chunks(df_max_torque_6, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_7_interpolated = interpolate_chunks(df_max_torque_7, start_time, end_time, step_seconds, chunk_len_min)

## Merge all the axes in a single data frame

In [36]:
dfs = [
    df_max_torque_1_interpolated,
    df_max_torque_2_interpolated,
    df_max_torque_3_interpolated,
    df_max_torque_4_interpolated,
    df_max_torque_5_interpolated,
    df_max_torque_6_interpolated,
    df_max_torque_7_interpolated
]
                                                                    
 # Rename columns to value_1, value_2, ..., value_7
for i, df in enumerate(dfs, start=1):
    df.columns = [f'value_{i}']

# Concatenate horizontally
merged_df = pd.concat(dfs, axis=1)

## delete missing rows

In [37]:
merged_df = merged_df[merged_df.notna().all(axis=1)].copy()
merged_df

,value_1,value_2,value_3,value_4,value_5,value_6,value_7
2022-04-14 10:40:20+00:00,123.534845,390.231958,755.206582,380.242965,771.191542,288.221721,1873.043123
2022-04-14 10:40:30+00:00,118.898812,392.404245,757.299284,380.530397,597.761384,290.914393,1873.004182
2022-04-14 10:40:40+00:00,114.262779,394.576532,759.391985,380.817828,424.331226,293.607066,1872.965241
2022-04-14 10:40:50+00:00,109.626746,396.748819,761.484687,381.105260,250.901068,296.299739,1872.926301
2022-04-14 10:41:00+00:00,104.990713,398.921107,763.577388,381.392692,77.470910,298.992411,1872.887360
...,...,...,...,...,...,...,...
2022-07-31 23:07:50+00:00,332.807747,443.068138,739.244392,572.780941,475.251943,278.475211,99.552491
2022-07-31 23:08:00+00:00,334.362133,446.778650,734.557349,556.158911,555.960567,280.114245,389.013349
2022-07-31 23:08:10+00:00,335.916519,465.436636,729.870305,539.536880,636.669191,281.753280,678.474206
2022-07-31 23:08:20+00:00,337.470905,484.094621,725.183262,522.914849,717.377814,283.392315,967.935064
2022-07-31 23:08:30+00:00,339.025291,502.752607,720.496218,506.292818,798.086438,285.031349,1257.395921

## Create case_id (break the data into multiple functions and enumerate)

In [38]:
merged_df.loc[:, 'case_id'] = (np.arange(len(merged_df)) // 360 + 1).astype(int)
merged_df

,value_1,value_2,value_3,value_4,value_5,value_6,value_7,case_id
2022-04-14 10:40:20+00:00,123.534845,390.231958,755.206582,380.242965,771.191542,288.221721,1873.043123,1
2022-04-14 10:40:30+00:00,118.898812,392.404245,757.299284,380.530397,597.761384,290.914393,1873.004182,1
2022-04-14 10:40:40+00:00,114.262779,394.576532,759.391985,380.817828,424.331226,293.607066,1872.965241,1
2022-04-14 10:40:50+00:00,109.626746,396.748819,761.484687,381.105260,250.901068,296.299739,1872.926301,1
2022-04-14 10:41:00+00:00,104.990713,398.921107,763.577388,381.392692,77.470910,298.992411,1872.887360,1
...,...,...,...,...,...,...,...,...
2022-07-31 23:07:50+00:00,332.807747,443.068138,739.244392,572.780941,475.251943,278.475211,99.552491,74
2022-07-31 23:08:00+00:00,334.362133,446.778650,734.557349,556.158911,555.960567,280.114245,389.013349,74
2022-07-31 23:08:10+00:00,335.916519,465.436636,729.870305,539.536880,636.669191,281.753280,678.474206,74
2022-07-31 23:08:20+00:00,337.470905,484.094621,725.183262,522.914849,717.377814,283.392315,967.935064,74
2022-07-31 23:08:30+00:00,339.025291,502.752607,720.496218,506.292818,798.086438,285.031349,1257.395921,74

## Set periodic time intervals for ease of analysis

In [39]:
merged_df['dup_timestamp'] = merged_df.groupby('case_id', group_keys=False).apply(
    lambda g: start_time + (g.index - g.index.min())
).explode().values

/var/folders/3l/37671v690lvgnn3xzzwtw7n40000gn/T/ipykernel_86987/1597710940.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged_df['dup_timestamp'] = merged_df.groupby('case_id', group_keys=False).apply(

## Save the processed data

In [40]:
merged_df.to_parquet("processed_data/A00003Hack_cleaned_data_60min.parquet", index=True)