# Imports

In [ ]:
import pyarrow.parquet as pq
import pyarrow as pa
from tools.functions import *
from depth.model.multivariate import *

# Data processing

In [ ]:
# Chargement des données
filename = "/Dataset_Bursa_Extended/file_from_gcp/dataset.parquet"
schema = pq.read_schema(filename)
parquet_file = pq.ParquetFile(filename)
df_max_torque_1 = pd.DataFrame()
df_max_torque_2 = pd.DataFrame()
df_max_torque_3 = pd.DataFrame()
df_max_torque_4 = pd.DataFrame()
df_max_torque_5 = pd.DataFrame()
df_max_torque_6 = pd.DataFrame()
df_max_torque_7 = pd.DataFrame()


for batch in parquet_file.iter_batches():
    
    table = pa.Table.from_batches([batch], schema=schema)
    df_temp = table.to_pandas(types_mapper=pd.ArrowDtype)
    df_max_torque_1 = pd.concat([
        df_max_torque_1,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_1_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_2 = pd.concat([
        df_max_torque_2,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_2_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_3 = pd.concat([
        df_max_torque_3,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_3_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_4 = pd.concat([
        df_max_torque_4,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_4_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_5 = pd.concat([
        df_max_torque_5,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_5_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)
    df_max_torque_6 = pd.concat([
        df_max_torque_6,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_6_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)

    df_max_torque_7 = pd.concat([
        df_max_torque_7,
        df_temp.loc[(df_temp['pub_objectuai'] == "A00003HACK") & (df_temp['pub_variablename'] == "MotionDevice_Axis_7_MaxTorqueDifferenceDerivation") & 
                    (df_temp["pub_statusname"] == "Good")][["pub_sourcetimestamp", "pub_datavalue"]]
    ], ignore_index=True)

In [60]:
df_max_torque_1.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_1["pub_datavalue"] = df_max_torque_1["pub_datavalue"].astype(float)
df_max_torque_1["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_1["pub_sourcetimestamp"])
df_max_torque_1.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_1 = df_max_torque_1[df_max_torque_1["pub_datavalue"] > 0]

df_max_torque_2.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_2["pub_datavalue"] = df_max_torque_2["pub_datavalue"].astype(float)
df_max_torque_2["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_2["pub_sourcetimestamp"])
df_max_torque_2.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_2 = df_max_torque_2[df_max_torque_2["pub_datavalue"] > 0]

df_max_torque_3.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_3["pub_datavalue"] = df_max_torque_3["pub_datavalue"].astype(float)
df_max_torque_3["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_3["pub_sourcetimestamp"])
df_max_torque_3.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_3 = df_max_torque_3[df_max_torque_3["pub_datavalue"] > 0]

df_max_torque_4.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_4["pub_datavalue"] = df_max_torque_4["pub_datavalue"].astype(float)
df_max_torque_4["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_4["pub_sourcetimestamp"])
df_max_torque_4.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_4 = df_max_torque_4[df_max_torque_4["pub_datavalue"] > 0]

df_max_torque_5.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_5["pub_datavalue"] = df_max_torque_5["pub_datavalue"].astype(float)
df_max_torque_5["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_5["pub_sourcetimestamp"])
df_max_torque_5.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_5 = df_max_torque_5[df_max_torque_5["pub_datavalue"] > 0]

df_max_torque_6.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_6["pub_datavalue"] = df_max_torque_6["pub_datavalue"].astype(float)
df_max_torque_6["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_6["pub_sourcetimestamp"])
df_max_torque_6.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_6 = df_max_torque_6[df_max_torque_6["pub_datavalue"] > 0]

df_max_torque_7.sort_values(by="pub_sourcetimestamp", inplace=True)
df_max_torque_7["pub_datavalue"] = df_max_torque_7["pub_datavalue"].astype(float)
df_max_torque_7["pub_sourcetimestamp"] = pd.to_datetime(df_max_torque_7["pub_sourcetimestamp"])
df_max_torque_7.set_index("pub_sourcetimestamp", drop=True, inplace=True)
df_max_torque_7 = df_max_torque_7[df_max_torque_7["pub_datavalue"] > 0]

## Interpolate the data

In [61]:
start_time = pd.Timestamp('2021-08-01 00', tz = df_max_torque_3.index.tz)
end_time = pd.Timestamp('2022-12-31 00', tz = df_max_torque_3.index.tz)
step_seconds=10
chunk_len_min=60 
df_max_torque_1_interpolated = interpolate_chunks(df_max_torque_1, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_2_interpolated = interpolate_chunks(df_max_torque_2, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_3_interpolated = interpolate_chunks(df_max_torque_3, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_4_interpolated = interpolate_chunks(df_max_torque_4, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_5_interpolated = interpolate_chunks(df_max_torque_5, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_6_interpolated = interpolate_chunks(df_max_torque_6, start_time, end_time, step_seconds, chunk_len_min)
df_max_torque_7_interpolated = interpolate_chunks(df_max_torque_7, start_time, end_time, step_seconds, chunk_len_min)

## Merge all the axes in a single data frame

In [62]:
dfs = [
    df_max_torque_1_interpolated,
    df_max_torque_2_interpolated,
    df_max_torque_3_interpolated,
    df_max_torque_4_interpolated,
    df_max_torque_5_interpolated,
    df_max_torque_6_interpolated,
    df_max_torque_7_interpolated
]
                                                                    
 # Rename columns to value_1, value_2, ..., value_7
for i, df in enumerate(dfs, start=1):
    df.columns = [f'value_{i}']

# Concatenate horizontally
merged_df = pd.concat(dfs, axis=1)

## delete missing rows

In [63]:
merged_df = merged_df[merged_df.notna().all(axis=1)].copy()
#merged_df

## Create case_id (break the data into multiple functions and enumerate)

In [64]:
merged_df.loc[:, 'case_id'] = (np.arange(len(merged_df)) // 360 + 1).astype(int)
merged_df

,value_1,value_2,value_3,value_4,value_5,value_6,value_7,case_id
2022-04-14 10:09:10+00:00,494.051895,756.283472,689.557949,427.076773,791.411048,402.740405,1794.774929,1
2022-04-14 10:09:20+00:00,343.802086,610.962798,633.547609,316.656273,767.904263,326.875720,1623.964897,1
2022-04-14 10:09:30+00:00,193.552277,465.642124,577.537268,206.235772,744.397478,251.011035,1453.154864,1
2022-04-14 10:09:40+00:00,137.184130,391.269877,744.732173,251.056691,746.644765,211.246136,1282.344831,1
2022-04-14 10:09:50+00:00,137.573740,396.072833,748.559333,264.438686,777.632420,211.766949,1111.534799,1
...,...,...,...,...,...,...,...,...
2022-12-30 20:47:30+00:00,180.439892,205.342615,583.775739,184.517948,1906.996953,414.485218,1630.197542,3125
2022-12-30 20:47:40+00:00,160.208251,187.422703,573.278110,174.618137,1907.975024,414.366664,1623.000182,3125
2022-12-30 20:47:50+00:00,139.976609,169.502791,562.780481,164.718325,1908.953094,414.248110,1615.802822,3125
2022-12-30 20:48:00+00:00,119.744968,151.582880,552.282852,154.818514,1909.931165,414.129556,1608.605462,3125
2022-12-30 20:48:10+00:00,99.513327,133.662968,541.785223,144.918702,1910.909235,414.011002,1601.408102,3125

## Set periodic time intervals for ease of analysis

In [65]:
merged_df['dup_timestamp'] = merged_df.groupby('case_id', group_keys=False).apply(
    lambda g: start_time + (g.index - g.index.min())
).explode().values

/var/folders/3l/37671v690lvgnn3xzzwtw7n40000gn/T/ipykernel_86987/1597710940.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged_df['dup_timestamp'] = merged_df.groupby('case_id', group_keys=False).apply(

## Save the processed data

In [66]:
merged_df.to_parquet("processed_data/A00003Hack_cleaned_data_60min.parquet", index=True)